
{% extends 'videos/base.html' %}

{% block content %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="row">
    <div class="span8">
      <div class="row">
        <div class="span8">
          <h4><strong><a href="#">Title of the post</a></strong></h4>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
          </a>
        </div>
        <div class="span6">      
          <p>
            Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
          </p>
          <p><a class="btn" href="#">Read more</a></p>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <p></p>
          <p>
            <i class="icon-user"></i> by <a href="#">John</a> 
            | <i class="icon-calendar"></i> Sept 16th, 2012
       
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock content %}

