<!doctype html>

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Online Course</title>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">Learn Today</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
            </li>
            {% if user.is_authenticated %}
          
            <li>
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <form class="form-inline" action="{% url 'user_profiles' %}">
              <input class="form-control mr-3"  placeholder="Search" value="{{ request.GET.search }}" type="text" name="search" required />
              <input class="btn btn-dark mr-3" type="submit" value="Search User" />
           
              </form>
            {% else %}
        
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
         
            
            {% endif %}
          </li>

          
          </ul>
    
        </div>
      </nav>
      
   
       

        {% block content %}

        {% endblock content %}
    

</body>
</html>
